#container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 10vh 80vh 10vh;
}

#container .cabecera{
    background-color: #9d87ec;
    grid-column: 1/3;
    grid-row: 1/2;
}

h1{
    text-align: center;
    font-size: 2vw;
}

#container .imagen{
    grid-column: 1/2;
    grid-row: 2/3;
}

#container .imagen img{
    width: 100%;
    height: 85%;
}